body{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

.nav-bar{
  display: flex;
  align-items: center;
  background-color: rgb(147, 56, 233);
  justify-content: space-between;

  
}

.meme-logo{
  transform: rotateY(180deg);
  width: 70px;
  height: fit-content;

}
.head{
 color: white;
 font-family: 'Unbounded', cursive;
}
.main-nav{
  display: flex;
  align-items: center;
  gap: 5px;
}

.sub-head{
  color: rgb(255, 0, 221);
  padding: 5px;
  font-family: 'Raleway', sans-serif;
}

.input-field{
  width: 433px;
  height: 27px;
  padding: 8px;
  border: 1px solid #D5D4D8;
  border-radius: 10px;
  box-shadow: 4px 4px 97px rgba(26, 26, 26, 0.28) ; 
  font-family: 'Raleway', sans-serif;
  outline: none;
}
.meme-input{
 display: flex;
 justify-content : space-around;

}
.get-meme-Btn{
  margin-top: 10px;
  height: 54px;
  padding: 13px;
  background-color: rgb(147, 56, 233);
  font-family: 'Unbounded', cursive;
  font-size: 22px; 
  color: white;
  width: 880px;
  border: none;
}

.meme-output{
  display: flex  ; 
  justify-content: center;
  align-items: center;
}
.meme-div{
  margin : 10px ; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme-poster{
     
    max-width: 100%;
    border-radius: 3px;

}
.top-text{
  position: absolute;
  top: 256px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-size: 30px;
  color: white;
  -webkit-text-stroke: 1px black;
  font-weight: bolder;
}
.bottom-text{
  position: absolute;
  bottom: 230px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-size: 25px;
  color: white;
  -webkit-text-stroke: 1px black;
  font-weight: bolder;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}